*{
	font-family: sans-serif;
	color: #fff;
}
body{
	background-color: #000;
}
.foot{
	margin-left: 82%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	justify-content: space-evenly;
	position: absolute;
	top: 3%;
}
.foot form{
	display: flex;

}
.foot input:first-child{
	width: 6rem;
	margin-right: 1rem;
}
.foot input{
	margin-top: 1rem;
	padding: 10px;
	justify-content: center;
	background-color: #1A2;
	border: none;
	color: #fff;
	justify-content: center;
	transition: all .2s;
}
.foot input::placeholder{
	color: white;
}
.foot input:hover{
	background-color: #162; 
}
.foot input:focus{
	outline: none;
	background-color: #162;
}
.foot a{
	text-decoration: none;
	color: #1A2;
	transition: all .2s;
}
.foot a:hover{
	color: #162;
}
.boto{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 0;
	justify-content: space-evenly;

}
.boto a{
	text-decoration: none;
}

.edi{
	width: 60px;
	height: 20px;
	border-radius: 6px;
	background-color: #162;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .3s;
}
.edi:hover{
	background-color: #1A2;
}
.de{
	width: 80px;
	height: 20px;
	border-radius: 6px;
	background-color: #900;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .3s;
}
.de:hover{
	background-color: #F00;
}

p{
	width: 10%;
}