*{
	font-family: sans-serif;
	color: #ffff;
}
body{
	background-color: #000;
}
.recu{
	width: 40%;
	height: 40%;
	border: 3px solid #111;
	background-color: #111;
	border-radius: 7px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10% 30%; 
}
.form input{
	margin-top: 1rem;
	padding: 10px;
	justify-content: center;
	background-color: #1A2;
	border: none;
	transition: all .2s;
}
.form input::placeholder{
	color: white;
}
.form input:hover{
	background-color: #162; 
}
.form input:focus{
	outline: none;
	background-color: #162;
}
.submit{
	margin-left: 3rem;
	background-color: #1A2;
	transition: all .2s;
	padding: 10px;
}
.foot a{
	margin-left: 3.5rem;
	text-decoration: none;
	color: #1A2;
	transition: all .2s;
}
.foot a:hover{
	color: #162;
}